
<link rel="stylesheet" type="text/css" href="css/style.css">
<body>
  <div id="app" v-cloak v-on:keyup.up="move('up')"  v-on:keyup.down="move('down')">
    <div id="experiment">
       <div v-bind:class="'player-'+cacheddirection+'-false'" class="player" v-bind:style="{ transform : 'translateX('+computedx+'px) translateZ('+computedy+'px)' , 'z-index' : y*1000 + (100-(x+1)) }"></div>
    <div v-for="(row,index) in map" class="cube-wrapper">
      <div v-if="r" v-for="(r,i) in row" class="cube" v-bind:style="{ transform : 'translateX('+i*32+'px) translateZ('+index*32+'px)' , 'z-index' : index*1000 + (100-(i+1))}" v-html="template"></div>
    </div>
</div>
    <p>moving : {{moving}}</p>
    <p>direction : {{direction}}</p>
    <p>y : {{y}}  , x : {{x}}</p>

  </div>
<body>


<script src="js/vue.js"></script>
<script src="js/index.js"></script>
